<div id="container">

<img src="/assets/img/burger.png">

<h2>Out-n'-In</h2>
<div class="form-group">
<input type="form" id="inputForm" for="answer" placeholder="What kind of burger are ya hankerin' for?"></input>
</div>
<br>
<br>
<br>
<button type="button" class="btn btn-secondary" id="submitButton">Submit</button>

</div>
