body {
    background-color: #E5A46E;
    font-family: 'Rubik', sans-serif;

}

#submitButton {
   background-color: #0A5B54;
   left: 50%;
   margin-left: 118px;
   font-family: 'Rubik', sans-serif;

}

img {
    width: 300px;
    height: 250px;
    left: 50%;
    
}

#container {
margin-left: 40%;

}

h2 {
margin-left: 54px;


}

input {
    margin-left:10px;
    height: 50px;
    width: 280px;
}

li {
    padding: 5px;
    margin: 5px;
    background: #DB5A9A;
}

#container2 {
    width: 350px;
    margin-left: 40px;
    margin-top: 40px;
}

input {
    font-family: 'Rubik', sans-serif;
    text-align: center;

}